 <h3 class="first">Seznam grafov</h3>

<app-graph-table></app-graph-table>

<p-dataTable [value]="graphSets" selectionMode="single" 
[(selection)]="selectedGraph" (onRowSelect)="onGraphClick(selectedGraph)">
    <p-column field="plot_code" header="Oznaka Postaje"></p-column>
    <p-column field="station" header="Številka postaje"></p-column>
    <p-column field="partab" header="Parameter"></p-column>
</p-dataTable>  
<p-growl [value]="dateInput"></p-growl>

<h3 class="first">Izberi datum</h3>
<p-tabView>
    <p-tabPanel header="Število ur" leftIcon="fa-clock-o">
        <app-gumbi-datum></app-gumbi-datum>
    </p-tabPanel>
    <p-tabPanel header="Koledar" leftIcon="fa-calendar">
        <app-koledar></app-koledar>
    </p-tabPanel>
    <p-tabPanel header="Drsnik" leftIcon="fa-slides">
        <app-drsnik></app-drsnik>
    </p-tabPanel>
</p-tabView>



<p *ngIf="selectedGraph">
<p-dataTable [value]="graphData" >
    <p-column field="value" header="Vrednost"></p-column>
    <p-column field="date" header="Čas"></p-column>
    <p-column field="status" header="Status"></p-column>
</p-dataTable>  
</p>
    
<!-- <li *ngFor="let graf of graff">
    {{graf.name}}
</li> -->